# Django
*.log
*.pot
*.py[co]
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# CPanel specific
passenger_wsgi.py
.venv/
env/
venv/
venv.bak/
/db/
CPANEL_TRACE.txt
server_error.log
django_debug.log
